{% extends 'base.html' %}

{% block content %}

<div class="container-fluid">

    <div class="d-flex justify-content-between align-items-center mb-4">

        <div>
            <h1 class="page-title">
                FSWD <span>Allocation</span>
            </h1>

            <p class="page-subtitle">
                Full Stack Web Development Hostel Allocation
            </p>
        </div>

        <div>
           <!-- <a href="/allocation/fswd/auto/" -->
   <!-- class="btn btn-success me-2">

    Auto Allocate -->

    <a href="/allocation/fswd/auto/"
   class="btn btn-success me-2">

    Auto Allocate

</a>

</a>
            <button class="btn btn-warning">
                Manual Allocate
            </button>
        </div>

    </div>

    <div class="card shadow border-0">

        <div class="card-body">

            <table class="table table-hover">

                <thead>

                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Gender</th>
                        <th>Status</th>
                    </tr>

                </thead>

                <tbody>

                    {% for student in students %}

                    <tr>

                        <td>{{ student.id }}</td>
                        <td>{{ student.name }}</td>
                        <td>{{ student.gender }}</td>
                        <td>{{ student.status }}</td>

                    </tr>

                    {% endfor %}

                </tbody>

            </table>

        </div>

    </div>

</div>

{% endblock %}